@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;600&family=Cutive+Mono&display=swap');

header {
  margin: 0px;
  width: 100vw;
  height: 50px;
  border-bottom: 3px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  padding-left: 20px;
}

.header-text {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 30px;
}

.header-nav {
  height: 50px;
  width: 100vw;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  align-items: center;
}

.header-link {
  font-size: 16px;
  margin: 0px;
}

#mobile-title-text {
  display: none;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 6vw;
  width: 100vw;
  margin: 1px;
  padding-left: 7px;
}

.mobile-menu {
  display: none;
}

.mobile-menu-line {
  height: 3px;
  width: 90%;
  margin-left: 5%;
  background-color: black;
  transform: rotate(0deg);
}

#top {
  position: absolute;
  top: 25%;
}

#mid {
  position: absolute;
  top: 50%;
}

#low {
  position: absolute;
  top: 75%;
}

/* Classes with animations for when user clicks dropdown menu */
.menuAnimate1 {
  animation: menuBoxAnimate1 1s forwards;
}
.menuAnimate2 {
  animation: menuBoxAnimate2 1s forwards;
}
.menuAnimate3 {
  animation: menuBoxAnimate3 0.7s forwards;
}
.menuAnimate4 {
  animation: menuBoxAnimate4 0.7s forwards;
}
.menuAnimate5 {
  animation: menuBoxAnimate5 0.7s forwards;
}

/* Animations for when user clicks dropdown menu */
@keyframes menuBoxAnimate1 {
  50% {top: 50%;}
  100% {top: 50%; transform: rotate(45deg);}
}
@keyframes menuBoxAnimate2 {
  50% {top: 50%;}
  100% {top: 50%; transform: rotate(-45deg);}
}
@keyframes menuBoxAnimate3 {
  0% {top: 50%;transform: rotate(-45deg);}
  50% {top: 50%;}
  100% {top: 75%;}
}
@keyframes menuBoxAnimate4 {
  0% {top: 50%; transform: rotate(45deg);}
  50% {top: 50%; transform: rotate(0deg);}
  100% {top: 50%; transform: rotate(0deg);}
}
@keyframes menuBoxAnimate5 {
  0% {top: 50%; transform: rotate(45deg);}
  50% {top: 50%;transform: rotate(-0deg);}
  100% {top: 25%;}
}

@media only screen and (max-width: 1100px) {
  .header-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 950px) {

  .header-link {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    right: 1.5vw;
    top: 1vw;
    width: 5vw;
    height: 5vw;
  }

  #mobile-title-text {
    padding-left: 20px;
    display: block;
  }

  header {
    height: 7vw;
  }

}
@media only screen and (max-width: 600px) {
  header {
    height: 12vw;
  }
  #mobile-title-text {
    font-size: 10vw;
  }
  .mobile-menu {
    top: 2vw;
    width: 8vw;
    height: 8vw;
  }
}

@media only screen and (max-device-width: 600px) {

  .header-link {
    display: none;
  }

  header {
    height: 10em;
    margin: 0px;
    display: block;
  }

  #mobile-title-text {
    padding-left: 20px;
    display: block;
    font-size: 8em;
  }

  .mobile-menu-line {
    height: 5px;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    right: 1em;
    top: 2em;
    width: 6em;
    height: 6em;
  }

}

.mobile-dropdown {
  display: none;
  width: 100vw;
  height: calc(100vh - 5em);
}

.inner-mobile-dropdown {
  width: 100vw;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.mobile-menu-link {
  margin: 0px;
  font-size: 25px;
  padding-left: 20px;
}

@media only screen and (max-device-width: 600px) {
  .mobile-menu-link {
    margin: 0px;
    font-size: 3.4em;
    padding-left: 40px;
  }
  .mobile-dropdown {
    display: none;
    width: 100vw;
    height: calc(100vh - 10em);
  }
}