@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@600&family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
.home-section {
  width: 22vw;
}
.article-header {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 7px;
  margin-bottom: 0px;
}

.extra-margin {
  margin-top: 8px;
}

.home-article-horizontal-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 4px;
  margin-bottom: 4px;
}

.home-article-img {
  width: 100%;
}

.government {
  width: 34vw;
  margin-left: 3vw;
}

.author-name {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

.article-credit {
  margin: 7px 2px 5px 2px;
}

.article-title {
  margin: 2px 2px 0px 2px;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  line-height: 100%;
}
.article-link {
  text-decoration: None;
  color: black;
}

.article-link:hover {
  text-decoration: underline;
}

#secondary-article {
  font-size: 18px;
}

.other-story {
  font-size: 15px;
}

.discription {
  margin: 5px 2px 2px 2px;
  font-size: 15px;
}

.view-all {
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  margin: 5px;
  padding: 3px;
  width: 110px;
  height: 30px;
  border: solid black 1px;
  background: black;
  color: white;
  border-radius: 2px;
}

.view-all-link {
  text-decoration: None;
  color: white;
}

.view-all-link:hover {
  text-decoration: none;
}

.part-num {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  font-weight: 700;
}

/* .view-all:hover {
  border: solid black 1px;
  background: white;
  color: black;
} */

@media only screen and (max-device-width: 600px) {
  
  .view-all {
    font-size: 2.8em;
    width: 5em;
    height: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid black 1px;
    background: white;
    color: black;
  }

  .home-section {
    width: 100%;
  }

  .article-header {
    font-size: 5.1em;
  }

  .extra-margin {
    margin-top: 16px;
  }

  .article-title {
    margin-top: 16px;
    font-size: 4.1em;
    margin-bottom: 15px;
  }

  #secondary-article {
    margin-top: 29px;
    margin-bottom: 29px;
    font-size: 3.4em;
    font-weight: 600;
  }

  .part-num {
    font-size: 1em;
    font-weight: 600;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
  }

  .part1 {
    font-size: 1.3em;
  }

  p {
    font-size: 2.8em;
  }

  .discription {
    font-size: 2.8em;
    margin-bottom: 29px;
  }

  .home-article-horizontal-line {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .view-all-link {
    color: black
  }

}