@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@600&family=Cutive+Mono&display=swap');

.home-section {
    width: 100%
}
.article-header {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.home-article-horizontal-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 8px;
}

.home-article-img {
    width: 100%;
}

/* .extra-margin {
    margin: 10px;
    width: calc(100% - 20px)
} */

.government {
    width: 34vw;
    margin-left: 3vw;
}

.date {
    margin: 2px;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

.discription {
    margin-top: 2px;
}