@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;600&family=Cutive+Mono&display=swap');

.top-container {
  padding-top: 20px;
  width: 75vw;
  margin-left: 12.5vw;
  display: flex;
  justify-content: space-between;
  height: 33vw;
}

.images {
  position: relative;
  width: 50vw;
}

.side-bar {
  width: 23vw;
}

.title-text {
  font-family: 'Crimson Text', serif;
  font-size: 100px;
  margin: 1px;
  line-height: 90%;
}

.home-img {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.main-discription {
  margin-top: 10px;
}

.bottom-container {
  width: 70vw;
  padding-top: 5px;
  margin-left: 15vw;
  display: flex;
  justify-content: space-between;
}

.mobile-discription {
  display: none;
}

.desktop-discription {
  font-size: 18px;
}

@media only screen and (max-width: 1100px) {
  .title-text {
    font-size: 75px;
  }
}

@media only screen and (max-width: 900px) {
  .title-text {
    font-size: 60px;
  }
}

@media only screen and (max-width: 850px) {
    .title-text {
        display: none;
    }
}

@media only screen and (max-device-width: 600px) {
  .side-bar {
    display: None;
  }

  .images {
    width: 100%;
  }

  .top-container {
    padding-top: 40px;
    width: 90vw;
    margin-left: 5vw;
    height: 58vw;
    flex-direction: column;
  }

  .mobile-discription {
    font-size: 3em;
    width: 85vw;
    margin-left: 7.5vw;
    margin-bottom: 0.5em;
    display: block;
  }

  .bottom-container {
    width: 85vw;
    margin-left: 7.5vw;
    flex-direction: column;
  }

  .home-section {
    width: 100%;
  }
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.displayFlex {
    display: flex;
}