@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;600&family=Cutive+Mono&display=swap');

.top-container {
    padding-top: 20px;
    width: 75vw;
    margin-left: 12.5vw;
    display: flex;
    justify-content: space-between;
    height: 33vw;
}
.images {
    /* padding-top: 10px; */
    position: relative;
    width: 50vw;
    /* height: 400px; */
    /* background-color: blue; */
}

.side-bar {
    width: 23vw;
    /* height: 400px; */
    /* background-color: red; */
}

.title-text {
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    margin: 1px;
    line-height: 90%;
}

.home-img {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.main-discription {
    margin-top: 10px;
}

.bottom-container {
    width: 70vw;
    padding-top: 5px;
    margin-left: 15vw;
    display: flex;
    justify-content: space-between;
}

.mobile-discription {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .title-text {
      font-size: 75px;
    }
}
@media only screen and (max-width: 900px) {
    .title-text {
      font-size: 60px;
    }
}
@media only screen and (max-width: 850px) {
    .title-text {
        display: none;
    }
}

@media only screen and (max-device-width: 600px) {
    .side-bar {
        display: None;
    }
    .images {
        width: 100%;
    }
    .top-container {
        padding-top: 40px;
        width: 90vw;
        margin-left: 5vw;
        height: 60vw;
        flex-direction: column;
    }
    .mobile-discription {
        font-size: 2.8em;
        width: 80vw;
        margin-left: 10vw;
        display: block;
    }
    .bottom-container {
        width: 80vw;
        margin-left: 10vw;
        flex-direction: column;
    }
    .home-section {
        width: 100%;
    }
}

@media only screen and (max-device-width: 400px) {
    .mobile-discription {
        font-size: 2.2em;
    }
}
/* .government {
    width: 25vw;
} */


/* OLD CODE */
/* 
.home3 {
    width: 22vw;
    border-radius: 50%;
    position:absolute;
    top: 24vw;
    right: 20vw;
    z-index: -1;
}

.home1 {
    width: 30vw;
    border-radius: 50%;
}
.home2 {
    width: 15vw;
    border-radius: 50%;
    position: absolute;
    top: 20vw;
    right: 0px;
} */