@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;600&family=Cutive+Mono&display=swap');

.top-container {
    padding-top: 20px;
    width: 75vw;
    margin-left: 12.5vw;
    display: flex;
    justify-content: space-between;
}
.images {
    /* padding-top: 10px; */
    position: relative;
    width: 50vw;
    /* height: 400px; */
    /* background-color: blue; */
}

.side-bar {
    width: 23vw;
    /* height: 400px; */
    /* background-color: red; */
}

.title-text {
    font-family: 'Crimson Text', serif;
    font-size: 100px;
    margin: 1px;
    line-height: 90%;
}

.home-img {
    width: 100%;
}

.main-discription {
    margin-top: 10px;
}

.bottom-container {
    width: 72vw;
    margin-left: 14vw;
    display: flex;
    justify-content: space-between;
}
/* .government {
    width: 25vw;
} */


/* OLD CODE */
/* 
.home3 {
    width: 22vw;
    border-radius: 50%;
    position:absolute;
    top: 24vw;
    right: 20vw;
    z-index: -1;
}

.home1 {
    width: 30vw;
    border-radius: 50%;
}
.home2 {
    width: 15vw;
    border-radius: 50%;
    position: absolute;
    top: 20vw;
    right: 0px;
} */