@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@400;600&family=Cutive+Mono&display=swap');

.story-types {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 60vw;
    padding-left: 20vw;
}

.links {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

.horizontal-line {
    width: 10vw;
    height: 1px;
    background-color: black;
}

.menu-link {
    margin: 5px;
    /* background-color: blue; */
}