body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

h1 {
  padding: 0px;
  margin: 0px;
}

.img1 {
  opacity: 100%;
}
.img2 {
  opacity: 0%;
}
.img3 {
  opacity: 0%;
}

.black-no-decoration {
  color: black;
  text-decoration: none;
}

.black-no-decoration:hover {
  text-decoration: none;
}

.fadeOut {
  animation: openA1 3s forwards;
}

.fadeIn {
  animation: OpenA2 3s forwards;
}

@keyframes openA1 {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

@keyframes OpenA2 {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

@media only screen and (max-device-width: 600px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}